:root {
	--base2: #eee8d5;
	--base3: #fdf6e3;
	--yellow: #b58900;
}

body {
	background-color: #30404b;
}
.form-group {
	display: grid;
	align-items: center;
	justify-content: center;
}
.browse-question {
	background: linear-gradient(to bottom, #fffffee5, #27272717);
	font-weight: inherit;
	color: black;

	font-size: 1.1rem;
	border: none;
	/* margin: -5px; 
padding: 0; */
	stroke: black;
	outline: none;

	width: fit-content(600px);
	margin-bottom: auto 10px;
	/* background-color: #E0E0E0; */
	background-color: #f8fbfce8;
	border-radius: 23px;
	display: grid;
	/* padding-top: 12rem; */
	grid-template-columns: [first] auto [second]15% [third]20% [forth]20%;
	text-align: center;
	filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.45));
}
h2 {
	text-align: center;
}
.btn-create-question {
	background: linear-gradient(to bottom, #757474e8, #373538e5);
	font-weight: inherit;
	color: white;
	font-size: 1.1rem;
	border: none;
	stroke: black;
	outline: none;
	border-radius: 23px;

	left: 50%;
	margin-right: -50%;
}
.browse-question .btn-edit {
	background: linear-gradient(to bottom, #fffffee5, #27272717);
	font-weight: inherit;
	color: black;
	font-size: 1.1rem;
	border: none;
	stroke: black;
	outline: none;
}
.browse-question .btn-delete {
	background: linear-gradient(to bottom, #757474e8, #373538e5);
	font-weight: inherit;
	color: white;
	font-size: 1.1rem;
	border: none;
	stroke: black;
	outline: none;
	border-top-right-radius: 23px;
	border-bottom-right-radius: 23px;
}
.browse-question .btn-delete:hover {
	cursor: pointer;
	/* background-color: blue; */
	/* background: linear-gradient(to bottom,#fff, #fff); */

	filter: drop-shadow(3px 5px 5px rgba(6, 159, 248, 0.897));
}
.browse-question .btn-edit:hover {
	cursor: pointer;
	/* background-color: blue; */
	background: linear-gradient(to bottom, #fff, rgb(102, 202, 248));
	color: white;
	filter: drop-shadow(3px 5px 5px rgba(6, 159, 248, 0.897));
}
.anwsers {
	display: grid;
	/* padding-top: 12rem; */
	grid-template-columns: [first] auto [line2] auto;
	gap: 3rem;
	/* row-gap: 3rem; */
	list-style: none;
	margin: 10px 0;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
	color: #009688;
}
.anwser-a {
	border-radius: 23px;
	background-color: #ff0000;
	width: calc(50% - -184px);
	height: 18.375rem;
	box-shadow: 0 2px 4px 0 rgba(29, 40, 53, 0.781);
	color: #30404b;
	text-emphasis: shadow 2px white;
	font-size: 8vw;
}

.anwser-b {
	border-radius: 23px;
	background-color: rgba(12, 183, 250, 0.904);
	width: calc(50% - -184px);
	height: 18.375rem;
	box-shadow: 0 2px 4px 0 rgba(29, 40, 53, 0.781);
	color: #30404b;
	text-emphasis: shadow 2px white;
	font-size: 8vw;
}
.anwser-c {
	border-radius: 23px;
	background-color: rgba(38, 243, 72, 0.904);
	width: calc(50% - -184px);
	height: 18.375rem;
	box-shadow: 0 2px 4px 0 rgba(29, 40, 53, 0.781);
	color: #30404b;
	text-emphasis: shadow 2px white;
	font-size: 8vw;
}
.anwser-d {
	border-radius: 23px;
	background-color: rgba(250, 246, 18, 0.932);
	width: calc(50% - -184px);
	height: 18.375rem;
	box-shadow: 0 2px 4px 0 rgba(29, 40, 53, 0.781);
	color: #30404b;
	text-emphasis: shadow 2px white;
	font-size: 8vw;
}

.container {
	display: grid;
	grid-template-columns: [first] auto [line2] minmax(11%) [line3] auto;
	/* grid-template-columns: [first] auto [line2] 19% [line3] auto; */
	grid-template-rows: [row1-start]auto [row1-end]auto third-line auto;
	column-gap: 0.5rem;
	row-gap: 3rem;
	/* grid-auto-rows: 100px; */
	grid-template-areas:
		"header header header "
		"welcome2 vline form"
		". vline .";
}
header {
	/* border: 3px solid green; */
	grid-area: header;
	/* height: 90px; */
}
.welcome {
	/* grid-area: "welcome2"; */
	margin: auto;
	width: 50%;
	text-transform: uppercase;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	text-shadow: 2px 2px #ff0000;
	color: cornsilk;
	font-size: 23px;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(1, [col] auto);
	grid-template-rows: repeat(2, [row] auto);
	grid-auto-rows: auto;
	grid-auto-columns: max-content(768);

	gap: 1em;
}
.logo-login {
	/* set img in middle */
	display: block;
	margin: 0 auto;
	/* border: 3px solid green; */
	text-align: center;
	width: 250px;
	height: auto;
}
.form {
	/* center the form */
	grid-auto-columns: max-content(768);
	margin: 0 auto;
	/* padding: 50px; */
	/* float: left; */
	padding-top: 200px;
}
.vertical-line {
	grid-area: vline;
	border-left: 4.5px solid black;
}

input,
label {
	display: block;
}
label,
h2 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	color: cornsilk;
	text-shadow: 2px 2px #ff0000;
	text-transform: uppercase;
}
input[type="text"],
input[type="password"] {
	/* padding: 100 100; */
	/* height: 30px; */
	position: relative;
	left: 0;
	outline: none;
	border: 1px solid #cdcdcd;
	border-color: rgba(0, 0, 0, 0.15);
	background-color: white;
	/* font-size: 16px; */
	width: 15rem;
	font-size: 17px;
	padding: 14px 16px;
	width: 330px;
}
.email {
	/* grid-template-columns: 1fr 1fr 1fr;
  grid-column-start: col-start 2; */
	grid-area: email;
	padding-bottom: 50px;
}
.password {
	grid-area: password;
}
.w3-circle {
	color: #fff !important;
	background-color: #009688 !important;
}

/* taken from 
https://divtable.com/table-styler/
  */
table.results {
	border: 1px solid #1C6EA4;
	background-color: #EEEEEE;
	width: 100%;
	height: 200px;
	text-align: center;
	border-collapse: collapse;
  }
  table.results td, table.results th {
	border: 1px solid #AAAAAA;
	padding: 9px 8px;
  }
  table.results tbody td {
	font-size: 13px;
  }
  table.results tr:nth-child(even) {
	background: #D0E4F5;
  }
  table.results thead {
	background: #1C6EA4;
	background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	border-bottom: 2px solid #444444;
  }
  table.results thead th {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	border-left: 2px solid #D0E4F5;
  }
  table.results thead th:first-child {
	border-left: none;
  }
  
  table.results tfoot {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background: #D0E4F5;
	background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	border-top: 2px solid #444444;
  }
  table.results tfoot td {
	font-size: 14px;
  }
  table.results tfoot .links {
	text-align: right;
  }
  table.results tfoot .links a{
	display: inline-block;
	background: #1C6EA4;
	color: #FFFFFF;
	padding: 2px 8px;
	border-radius: 5px;
  }

footer {
	margin-top: 2rem;
	background: #333;
	color: #fff;
	text-align: center;
	padding: 1rem;
}
/*
nav bar taken from <!-- Tutorial https://youtu.be/gt8zOLQ8A0w --> 
 */
 header {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 100px;
	background: #262626;
	width: 100%;
	box-sizing: border-box;
  }
  header .logo {
	color: #fff;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	float: left;
	font-weight: bold;
  }
  header nav {
	float: right;
  }
  header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
  }
  header nav ul li {
	list-style: none;
  }
  header nav ul li a {
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	color: red;
	text-decoration: none;
	display: block;
  }
  
  header nav ul li a:hover,
  header nav ul li a.active {
	color: #fff;
	background: #2196f3;
  }
  
  .menu-toggle {
	color: #fff;
	float: right;
	/* line height seems to place the icon in the middle */
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	/* hides the icon */
	display: none;
  }
  /* nav bar */
  @media (max-width: 991px) {
	header {
	  padding: 0 20px;
	}
	.menu-toggle {
	  display: block;
	}
	header nav {
	  /* display: none; */
	  position: absolute;
	  width: 100%;
	  /* height: calc(100vh - 50px); */
	  background: #333;
	  top: 50px;
	  /*Left -100 places the nav bar out of side */
	  left: -100%;
	  /* Transiton is fucking cool! Use it more often */
	  transition: 0.5s;
	}
	header nav.active {
	  left: 0;
	}
	header nav ul {
	  display: block;
	  text-align: center;
	}
	header nav ul li a {
	  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}
  }



/* Media Queries */
@media (max-width: 768px) {
	/* For desktop: */
	.top-container {
		display: grid;
		grid-template-columns: repeat(0, 1fr);
		grid-auto-rows: minmax(100px, auto);
		/* grid-template-rows: [row1-start]auto [row1-end]auto third-line auto; */

		grid-template-areas:
			"welcome"
			"logo"
			"form";
	}
	header {
		height: 0;
	}
	.vertical-line {
		grid-column: 6/9;
	}
	.welcome {
		grid-column: 0 / 3;
		grid-row: 1;
		grid-area: "welcome";
		padding-top: 0px;
	}

	.form {
		/* grid-column: 3/ 6; */
		grid-area: "form";
		padding-top: 20px;
		grid-row: 3;
	}
	.vertical-line {
		grid-area: "vline";
		display: block;
		/* margin: 0 auto; */
		border: 0px black;
	}
	.logo-login {
		grid-area: "logo";
		display: block;
		margin: 0 auto;
		height: auto;
	}

	label {
		font-size: 12px;
	}
	input[type="text"] {
		/* padding: 100 100; */
		/* height: 20px; */
		position: relative;
		/* right:14px ; */
		outline: none;
		width: 12rem;
		font-size: 17px;
		padding: 14px 16px;
		width: 330px;
	}
	.email {
		/* grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: col-start 2; */
		grid-area: email;
		padding-bottom: 20px;
	}
	.password {
		grid-area: password;
	}
	.w3-circle {
		color: #fff !important;
		background-color: #009688 !important;
	}
}
